<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PowerOfEgypt"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".AfterSplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StartingActivity"
            android:exported="true"
            android:theme="@style/Starting.App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.MenuActivity" />
        <activity android:name=".act.FirstVariantActivity" />
        <activity android:name=".act.SecondVariantActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/token" />
    </application>

</manifest>